%p= "Caro #{@user.full_name},"
%p= "Recebemos o seu pedido para alterar a sua password em #{h WebApplication::config['application_name']}."
%p Para criar uma nova password, utilize o seguinte link:
=@url
%p Caso não tenha feito este pedido, simplesmente ignore este email.
%p Obrigado,
= WebApplication::config['application_name']  