%p= "Caro #{@user.full_name},"
%p= "Recebemos um pedido de registo de colaborador em #{h WebApplication::config['application_name']} e estamos a um passo de activar a sua conta."
%p Para activar sua conta utilize este link:
=@url
%p Obrigado,
= WebApplication::config['application_name']  